.background {
    /* background-color: rgb(21, 21, 23); */
    background: #8E5AF7;
}

.logo {
    background-image: url(chromecast.png);
}

.progressBar {
    background-color: #ffffff;
}

/*
.splash {
    background-image: url(splash.png);
}

.watermark {
    background-image: url(watermark.png);
    background-size: 57px 57px;
}
*/